@using Microsoft.AspNetCore.Components.Authorization
@using Finance.Web.Pages
@using Finance.Web.Layout

<CascadingAuthenticationState>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Desculpe, não há nada neste endereço.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
